{% extends "base.html" %}

{% block scripts %}
{{super()}}

<script type="text/javascript">

 ingredientsSparql = `
SELECT ?ingredient ?ingredientLabel (GROUP_CONCAT(?source_label_; separator=", ") AS ?sources) WITH {
  SELECT DISTINCT ?ingredient ?source_label_ WHERE {
    wd:{{ q }} (wdt:P527 | wdt:P4543 | wdt:P186 )* ?ingredient .
    OPTIONAL { ?ingredient wdt:P1582 ?source
      OPTIONAL {
        ?source rdfs:label ?source_label_ . FILTER (LANG(?source_label_) = 'en')
      }
    }
  }
} AS %INGREDIENTS WHERE {
  INCLUDE %INGREDIENTS
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
} GROUP BY ?ingredient ?ingredientLabel
`

  effectsSparql = `
SELECT ?ingredient ?ingredientLabel ?effect ?effectLabel WITH {
  SELECT DISTINCT ?ingredient ?effect WHERE {
    wd:Q20034 (wdt:P527 | wdt:P4543 | wdt:P186 )* ?ingredient .
    ?ingredient wdt:P1542 ?effect
  }
} AS %INGREDIENTS WHERE {
  INCLUDE %INGREDIENTS
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
`

 $(document).ready(function() {
     sparqlToDataTable(ingredientsSparql, "#ingredients");
     sparqlToDataTable(effectsSparql, "#effects");
 });
</script>

{% endblock %}



{% block page_content %}
<h1 id="h1">Food</h1>

<div id="intro"></div>

<div id="wembedder"></div>

<h2 id="Ingredients">Ingredients</h2>

<table class="table table-hover" id="ingredients"></table>

<h2>Associated images</h2>

<div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="https://query.wikidata.org/embed.html#%23defaultView%3AImageGrid%0ASELECT%20DISTINCT%20%3Fimage%20WHERE%20%7B%0A%20%20%7B%20wd%3A{{ q }}%20%28wdt%3AP527%20%7C%20wdt%3AP4543%20%7C%20wdt%3AP186%29%20%3Fingredient%20%7D%0A%20%20UNION%0A%20%20%7B%20wd%3A{{ q }}%20%28wdt%3AP527%20%7C%20wdt%3AP4543%20%7C%20wdt%3AP186%29%2F%28wdt%3AP527%20%7C%20wdt%3AP4543%20%7C%20wdt%3AP186%20%29%20%3Fingredient%20%7D%0A%20%20%3Fingredient%20wdt%3AP18%20%3Fimage%20%0A%7D%0A"></iframe>
</div>


<h2 id="Effects">Effects</h2>

<table class="table table-hover" id="effects"></table>

{% endblock %}
    
